<h1><%=@brand.name%></h1>

<% if @brand.stores.any?()%>
  <h3><%=@brand.name%> is carried at the following stores:</h3>
  <ul>
  <% @brand.stores.each do |store| %>
    <li><a href="/stores/<%=store.id%>"><%=store.name()%></a></li>
  <% end %>
  </ul>
<%else%>
<h2>This brand does not have any stores yet</h2>
<% end %>

<h3>Add a Store</h3>

<form class="" action="/brands/<%=@brand.id%>/store/new" method="post">
  <label for="store_name">Enter Store Name:</label>
  <input type="text" name="store_name" value="">
  <button type="submit" name="button">Add Store</button>
</form>
